body {
margin: 0;
padding: 0;
background-color: black;
}
nav {
  width: 100rem;
  height: 10rem;
  border: 1px solid white;
  margin: 10px 10px 10px 10px;
  display: grid;
  align-items:  center;
  justify-content: center;
}
#button {
  border-radius: 8px;
  font-size:x-large;
  font-weight: 800;
  width:50 rem;
  height: 3rem;
  margin-bottom: 1rem;
}
button:hover {
  cursor: pointer;
}
#rahmen {
  width: 100rem;
  height: 50rem;
  border: 1px solid white;
  margin: 10px 10px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
} 
.spielfeld {
  width: 49%;
  height: 98%;
  border: 1px solid white;
}
#linkes-spielfeld, #rechtes-spielfeld {
  margin-right: 5px;
  align-items: center;
  justify-content: center;
  display: grid;
  text-align: center;
}

#koordinatensystem, #koordinatensystemGegner {
  border: 1px solid white;
  width: min-content;
  height: min-content;
  display: grid;
  grid-template-columns: repeat(7, 1fr) ;
  grid-template-rows:  repeat(7, 1fr);
  grid-gap: 2px;
  background-color:  blueviolet;
  align-items: center;
  justify-content: center;
}
.planquadrat {
  width: 80px;
  height: 80px;
  background-color: rgb(59, 24, 93);
  margin: 0px;
  padding: 0px;
}
p {
  margin-left: 10px;
  color: blueviolet;
  font-size: 2rem;
}
#mitteilung {
  color: white
}
#positionieren {
  color: white
}

#SchiffeAuswahl, #SchiffeAusrichtung {
  border: 1px solid white;
  margin-left: 10px;
  margin-top: 20px;
  width: min-content;
  height: min-content;
  display: grid;
  grid-template-columns: repeat(4, 1fr) ;
  grid-template-rows:  repeat(4, 1fr);
  grid-gap: 1px;
  background-color: blueviolet;
  position: relative;
}
.image {
  width: 95%;
  height: 95%;
}
.imageTreffer {
  width: 95%;
  height: 95%;
  background-color: rgb(226, 43, 61);
}

#abdeckung {
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 2;
  position: absolute;
}
